body {
    margin: 0;
    display: grid;
    grid-template-rows: 120px 1fr 50px;
    height: 100vh;
}

#header {
    background-color: #7393B3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

input {
    font-size: 30px;
    width: 50px;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7393B3;
    font-size: 30px;
}

img {
    height: 40px;
    margin-right: 10px;
}

#player-score {
    margin-left: 10px;
    margin-right: 50px;
}

#bot-score {
    margin-left: 10px;
}

#start-button {
    font-size: 30px;
}

#game-board {
    position: relative;
    display: flex;
    background: radial-gradient(circle,rgba(238, 238, 238, 1) 50%, rgba(85, 85, 85, 1) 100%);
    align-items: center;
    justify-content: center;
}

#container {
    background-color: black;
    gap: 2px;
    --cell-size: 450px;
    --cell-number: 1;
    display: grid;
    grid-template-rows: repeat(var(--cell-number), var(--cell-size));
    grid-template-columns: repeat(var(--cell-number), var(--cell-size));
    font-size: var(--cell-size);
}

.cell {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80%;
}

#overlay {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: RGBA(0,0,0,.2);
    align-items: center;
}

#scroll-text {
    position: relative;
    height: 75px;
    width: 100%;
    font-size: 30px;
    background-color: RGBA(0,0,0,.4);
    overflow: hidden;
    display: flex;
    align-items: center;
}

#scroll-text p {
    margin: 0;
    position: absolute;
    animation: scroll 20s linear infinite;
    animation-delay: -10s;
}


@keyframes scroll {
    0%   {transform: translateX(-100%); }
    100% {transform: translateX(100vw);}
}